<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://185.28.21.241:3306/u131832063_bdatt" />
		<property name="username" value="u131832063_bdatt" />
		<property name="password" value="bdatt2017" />
	</bean>
	
	<bean id="ActivoDAO" class="com.mx.att.inventario.dao.imp.ActivoDAOImp">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>