<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<!-- Cambiar configuracion de correo -->
	
	<property name="host" value="mx1.hostinger.mx" />
	<property name="port" value="587" />
	<property name="username" value="jorge.luis.martinez.alfonso@ideasystems.esy.es" />
	<property name="password" value="Jm4rt1n3z41" />

	<property name="javaMailProperties">
	   <props>
       	      <prop key="mail.smtp.auth">true</prop>
       	      <prop key="mail.smtp.starttls.enable">true</prop>
       	      
       	   </props>
	</property>
</bean>

<bean id="notificacionService" class="com.mx.att.inventario.service.NotificarServiceImp">
	<property name="mailSender" ref="mailSender" />
</bean>

</beans>